spring:
  application:
    name: pomodori
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: oracle.jdbc.OracleDriver #org.postgresql.Driver
  sql:
    init:
      mode: never
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_APP_PWD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    from: ${MAIL_FROM}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.Oracle12cDialect #org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
        # next 3 params used to log hibernate query and values
        show_sql: false
        use_sql_comments: true
        type: trace
        default_schema: ${DB_USER}

report:
  schedule:
    cron: ${REPORT_SCHEDULE_CRON}

server:
  port: 8080
  ssl:
    enabled: false
  servlet:
    session:
      timeout: 30m

