<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="scanFields" class="row g-2 mb-3">
    <div class="col-md-3">
      <input type="text" name="nome" class="form-control" placeholder="Nome" th:value="${param.nome}" />
    </div>
    <div class="col-md-3">
      <input type="text" name="cognome" class="form-control" placeholder="Cognome" th:value="${param.cognome}" />
    </div>
    <div class="col-md-3">
      <input type="text" name="qrCode" class="form-control" placeholder="QR Code" th:value="${param.qrCode}" />
    </div>
    <div class="col-md-3">
      <input type="date" name="data" class="form-control" th:value="${param.data}" />
    </div>
  </div>
</body>
</html>
