<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="searchAndPagination(queryUrl, page)" class="research-form">
		<h3 class="text-center mb-4">Ricerca</h3>
		<form th:action="@{__${queryUrl}__}" method="get" class="row g-3 mb-3">
			<div class="col-md-3">
				<input type="text" name="nome" class="form-control" placeholder="Nome"
					   th:value="${param.nome}" />
			</div>
			<div class="col-md-3">
				<input type="text" name="cognome" class="form-control" placeholder="Cognome"
					   th:value="${param.cognome}" />
			</div>
			<div class="col-md-3">
				<input type="text" name="qrCode" class="form-control" placeholder="QR Code"
					   th:value="${param.qrCode}" />
			</div>
			<div class="col-md-3">
				<input type="date" name="data" class="form-control"
					   th:value="${param.data}" />
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-primary">Cerca</button>
				<a th:href="@{__${queryUrl}__}" class="btn btn-secondary">Reset</a>
			</div>
		</form>

		<div class="d-flex justify-content-end align-items-center mb-3">
			<div class="me-2">
				<span th:text="'Pagina ' + ${page.number + 1} + ' di ' + ${page.totalPages}"></span>
			</div>
			<div>
				<form method="get" th:action="@{__${queryUrl}__}">
					<input type="hidden" name="nome" th:value="${param.nome}" />
					<input type="hidden" name="cognome" th:value="${param.cognome}" />
					<input type="hidden" name="qrCode" th:value="${param.qrCode}" />
					<input type="hidden" name="data" th:value="${param.data}" />
					<select name="size" onchange="this.form.submit()" class="form-select d-inline w-auto">
						<option th:value="10" th:selected="${size == 10}">10 elementi</option>
						<option th:value="25" th:selected="${size == 25}">25 elementi</option>
						<option th:value="50" th:selected="${size == 50}">50 elementi</option>
					</select>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
