<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#0d6efd">
</head>
<body>
  <div th:fragment="dipendentiFields"  class="g-2 mb-3">
    <div class="row mb-3">
    	<div class="col-md-4">
	      <input type="text" name="nome" class="form-control" placeholder="Nome" th:value="${param.nome}" />
	    </div>
	    <div class="col-md-4">
	      <input type="text" name="cognome" class="form-control" placeholder="Cognome" th:value="${param.cognome}" />
	    </div>
	    <div class="col-md-4">
	      <input type="text" name="codiceFiscale" class="form-control" placeholder="Codice Fiscale" th:value="${param.codiceFiscale}" />
	    </div>
    </div>
    <div class="row">
    	<div class="col-md-4">
	      <input type="text" name="soprannome" class="form-control" placeholder="Soprannome" th:value="${param.soprannome}" />
	    </div>
	    <div class="col-md-4">
	      <input type="text" name="username" class="form-control" placeholder="Username" th:value="${param.username}" />
	    </div>
	    <div class="col-md-4">
	      <input type="text" name="ruoloDescrizione" class="form-control" placeholder="Ruolo" th:value="${param.ruoloDescrizione}" />
	    </div>
    </div>
  </div>
</body>
</html>
